
body{
    background-color: whiteggit
    smoke
   
}
P{  
    font-family: Arial;
    font-size: 15px;
    color: black;
    text-align: justify;

}
h1{
    font-family: Arial;
    font-size: 50px;
    color: black;
    text-align: center;}
h2{
    font-family: Arial;
    font-size: 30px;
    color: black;
    text-align: justify;
}


  

audio{
    display: block;
    margin-right: auto;
    color:darkolivegreen;
}
viedo{
    display: block;
    margin-left: auto;
    color:darkolivegreen;
    size: medium;
}
iframe{
    display: block;
    margin-right: auto;
    color:darkolivegreen;
    size: medium;
}
form{

    text-align: left;
}